---
layout: default
---

<div class="container">
  <div class="row">

    <!-- MAIN CONTENT -->
    <div class="col col-12 col-t-8">

      {% assign featured_posts = site.posts | where_exp: "post", "post.tags contains 'featured'" %}

      <!-- BIG FEATURED POST -->
      {% assign hero = featured_posts | first %}
      {% if hero %}
      <article class="article-first">
        <div class="article-image-first"
          style="background-image: url({{ '/img/' | prepend: site.baseurl | append: hero.image }})">
          <div class="article-content-first">
            <div class="article-tag">
              {% for tag in hero.tags %}
                <a href="{{ site.baseurl }}/tags#{{ tag }}" class="tag">{{ tag }}</a>
              {% endfor %}
            </div>

            <h2 class="article-title">
              <a href="{{ hero.url | prepend: site.baseurl }}">{{ hero.title }}</a>
            </h2>

            <p class="article-excerpt">
              {% if hero.description %}
                {{ hero.description | strip_html | truncate: 160 }}
              {% else %}
                {{ hero.content | strip_html | truncate: 160 }}
              {% endif %}
            </p>

            <a href="{{ hero.url | prepend: site.baseurl }}" class="button read-more">
              Read More
            </a>
          </div>
        </div>
      </article>
      {% endif %}

      <!-- TWO FEATURED GRID POSTS -->
      <div class="row">
        {% assign grid_posts = featured_posts | slice: 1, 2 %}
        {% for post in grid_posts %}
        <div class="col col-12 col-t-6">
          <article class="article">
            <div class="article-box">
              <div class="article-head">
                <a href="{{ post.url | prepend: site.baseurl }}"
                   class="article-image"
                   style="background-image: url({{ '/img/' | prepend: site.baseurl | append: post.image }})">
                  <div class="image-overlay">
                    <span class="image-overlay-text">{{ post.title }}</span>
                  </div>
                </a>
              </div>

              <div class="article-content">
                <div class="article-info">
                  <div class="article-date">
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                      {{ post.date | date: "%b %-d, %Y" }}
                    </time>
                  </div>
                  <div class="article-tag">
                    {% for tag in post.tags %}
                      <a href="{{ site.baseurl }}/tags#{{ tag }}" class="tag">{{ tag }}</a>
                    {% endfor %}
                  </div>
                </div>

                <h2 class="article-title">
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>

                <p class="article-excerpt">
                  {% if post.description %}
                    {{ post.description | strip_html | truncate: 120 }}
                  {% else %}
                    {{ post.content | strip_html | truncate: 120 }}
                  {% endif %}
                </p>
              </div>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>

    </div>

    <!-- SIDEBAR -->
    <div class="col col-12 col-t-4">
      {% include sidebar.html %}
    </div>

  </div>
</div>
