<div class="container">
  <div class="row">
    {% for post in paginator.posts %}
      <div class="col col-12 col-t-6">
        <article class="article">
          <div class="article-box">
            <div class="article-head">
              <a href="{{ post.url | prepend: site.baseurl }}" class="article-image"
                 style="background-image: url({{ '/img/' | prepend: site.baseurl | append: post.image }})"></a>
            </div>
            <div class="article-content">
              <h2 class="article-title">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
              <p class="article-excerpt">{{ post.content | strip_html | truncate: 135 }}</p>
            </div>
          </div>
        </article>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
